h1 img {
    width: 467px;
    margin-top: 20px;
}

body {
    text-align: center;
}

input {
    border: 1px solid #000;
    width: 300px;
    background: #fdfdfd;
    font-size: 22px;
    padding: 8px;
    margin: 3px;
}

button {
    border: 1px solid #000;
    width: 320px;
    background: #d8d8d8;
    font-size: 22px;
    padding: 8px;
    margin: 3px;
}

.result {
    padding: 10px;
    border: 1px solid #d8d8d8;
    background: #fdfdfd;
    font-size: 20px;
}